@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin buttonReset {
  position: relative;
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
}

@mixin linkUnderline {
  > span {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 120%;

    &::after {
      width: 0;
      content: '';
      height: 1px;
      display: block;
      align-self: center;
      transition: all ease-in-out 0.2s;
      background-color: $colorMain;
    }
  }

  &:hover {
    > span {
      &::after {
        width: 100%;
      }
    }
  }
}
@mixin last-mb-0{
  &:last-child{
    margin-bottom: 0;
  }
}
@mixin background-contain($url){
  background-image:url('../img/' + $url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin width-flex($width){
  width: $width;
  min-width: $width;
}
@mixin hover-link($color){
  &:hover{
    color: $color;
  }
}
@mixin last-mr-0{
  &:last-child{
    margin-right: 0;
  }
}
@mixin last-mb-0{
  &:last-child{
    margin-bottom: 0;
  }
}
@mixin after-ml($img, $width, $height, $ml){
  display: inline-flex;
  align-items: center;
  &:after{
    content: '';
    @include background-contain($img);
    @include width-flex($width);
    height: $height;
    margin-left: $ml;
  }
}
@mixin before-mr($img, $width, $height, $mr){
  display: inline-flex;
  align-items: center;
  &:before{
    content: '';
    @include background-contain($img);
    @include width-flex($width);
    height: $height;
    margin-right: $mr;
  }
}
