.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.icon-card {
    font-size:(16/10)*1rem;
    width:(18/16)*1em;
}
.icon-close {
    font-size:(20/10)*1rem;
    width:(20/20)*1em;
}
.icon-close-top {
    font-size:(16/10)*1rem;
    width:(16/16)*1em;
}
.icon-file {
    font-size:(36/10)*1rem;
    width:(28/36)*1em;
}
.icon-geo {
    font-size:(16/10)*1rem;
    width:(12/16)*1em;
}
.icon-heart {
    font-size:(24/10)*1rem;
    width:(24/24)*1em;
}
.icon-mail {
    font-size:(13/10)*1rem;
    width:(16/13)*1em;
}
.icon-normal {
    font-size:(24/10)*1rem;
    width:(24/24)*1em;
}
.icon-search-icon {
    font-size:(16/10)*1rem;
    width:(16/16)*1em;
}
.icon-time {
    font-size:(24/10)*1rem;
    width:(24/24)*1em;
}
