// FONT
$fontFamilySansSerif: "Mont", sans-serif;
$fontFamilySerif: "PlayfairDisplay", sans-serif;
$fontSizeMain: 16px;
$fontWeightMain: 400;
$fontLineHeightMain: 150%;
$fontWeightBold: bold;

// COLOR
$colorMain: #444ce0;
$colorSuccess: #26de81;
$colorDanger: #fc5c65;
$colorWarning: #fed330;
$colorLight: #999999;
$colorPurple: #8854d0;
$colorGray: #4D4D4D;
$colorDarkGray: #252525;
$colorWhite: #ffffff;
$colorLightGray: #E5E5E5;

// MEDIA
//$xlWidth: 1200px;
//$lgWidth: 992px;
//$mdWidth: 768px;
//$smWidth: 480px;
//$xsWidth: 320px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1420px
);

$grid-breakpoints: (
  // Очень маленькие экраны / телефоны
        xs: 0,
  // Небольшие экраны / телефоны
        sm: 34em,
  // Средние экраны / планшеты
        md: 48em,
  // Большие экраны / настольные компьютеры
        lg: 62em,
  // очень большие экраны / широкоформатные мониторы
        xl: 75em
) !default;

$grid-columns:      12;
$grid-gutter-width: 24px;
$grid-card-width: 100%;



@mixin make-container($container: $container-max-widths) {
  max-width: $container-max-widths;
}


// Миксин для элемента .row
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

// Миксин для столбцов
@mixin make-col($gutter: $grid-gutter-width) {
  display: flex;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-col-span($columns) {
  width: percentage(($columns / $grid-columns));
}

@mixin make-col-offset($columns) {
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-col-push($columns) {
  left: percentage(($columns / $grid-columns));
}
@mixin make-col-pull($columns) {
  right: percentage(($columns / $grid-columns));
}
