.slider-big__wrap {
  margin-bottom: 64px;
}
.slider-big {
  position: relative;
}
.solution__item {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 256px;
  padding: 32px;
  border-radius: 5px;
  display: block;

  &:hover {
    text-decoration: none;
  }

}
.slider-gradient {
  position: relative;

  &:before {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 200px;
    height: 100%;
    z-index: 1000;
  }

  &:hover {
    &:before {
      opacity: 1;
      transition: 0.5s;
    }
  }
}
.solution__item-desc {
  max-width: 60%;
}
.solution__item-title {
  text-transform: uppercase;
  color: #4D4D4D;
  font-family: $fontPrimary;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
}

.solution__item-subtitle {
  color: #4D4D4D;
  line-height: 22px;

}

.solution-section {
  margin-bottom: 88px;
}
