@import '../../../styles/helpers/_variables.scss';


.items {
  &__contaner {
    box-sizing: border-box;
    padding: 0 10%;
  }

}

.items__card--wrap {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //flex-wrap: wrap;
}
.items__card {
  border: 1px solid #999;
  width: 48%;

  margin-bottom: 30px;
  padding: 30px 30px;
}
//.icon {
//  text-align: center;
//  width: 100%;
//  margin-bottom: 20px;
//}


//.container {
//  @include make-container();
//
//}
.row {
  @include make-row();
}
