section.sentence__section
    .sentence__bg(style='background-image: url(../img/sentence-bg.png);')
        .row
            .offset-lg-5.col-lg-6
                img(src='../img/logo-big.svg' alt='', title='').logo-big
        .row
            .col-lg-6.offset-lg-6
                .sentence__block--title тендерный отдел
            .offset-lg-7.col-lg-4

                .sentence__block

                    .sentence__block--text Все владельцы интернет магазинов и небольших компаний по безопасности и IT сталкиваются с проблемами с собственным сайтом, а именно в работе над каталогом товаров мы поможем решить эту извечную проблему
                    +button-tr-small('Подробнее')

