.sentence__section {
  margin-bottom: 138px;
}
.sentence__bg {
  background-color: #ffffff;
  background-size: contain;
  min-height: 465px;
  background-position: top left;
  background-repeat: no-repeat;

}

.sentence__block--title {
  font-size: 48px;
  font-family: $fontPrimary;
  font-weight: 900;
  text-transform: uppercase;
  color: #586166;
  margin-bottom: 24px;
}

.sentence__block--text {
  color: #586166;
  line-height: 22px;
  margin-bottom: 24px;
}
.button-tr-small {
  font-size: 16px;
  color: #4D4D4D;
  border-radius: 5px;
  padding: 8px 24px;
  font-family: $fontPrimary;
  font-weight: 700;
  border: 1px solid #FFC634;
  //@include hover-link(#373737);
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background: none;
    box-shadow: none;
    border: 1px solid #FFC634;
  }
}
