//body {
//  height: 3000px;
//}
.header-line--text {
  font-family: $fontPrimary;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
}
.header__top--wrap {
  border-bottom: 1px solid #E5E5E5;
}
.header__top {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
//.header-top__right {
//  display: flex;
//  align-items: center;
//  margin-left: auto;
//}

.header-top__item {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header__nav {

}
//.header__nav {
//  display: flex;
//  width: 50%;
//}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
.header__top--right {
  display: flex;
  align-items: center;
  margin-left: auto;

  .icon {
    width: 18px;
    //min-width: 24px;
    height: 18px;
    margin-bottom: 2px;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
}
.nav__item {
  margin-right: 32px;
}
.info-item__link {
  color: $colorGray;
  font-size: 14px;
}
.header__top--item {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-bottom: 2px;
  margin-right: 8px;
}
.header__text {
  color: $colorDarkGray;
  font-size: 14px;
  line-height: 19px;
}
.icon-geo {
  width: 12px;
  height: 16px;
}
.header__logo {
  width: 217px;
  min-width: 217px;
  height: 55px;
}
.header__years {
  width: 56px;
  min-width: 56px;
  height: 56px;
  margin-right: 27px;
}
.header__middle--wrap {
  padding: 25px 0;
  position: relative;

}
.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__age--block {
  display: flex;
  align-items: center;
}
.header__age--text {
  font-size: 14px;
  color: #000000;
  line-height: 19px;
}
.search-block .input-wrap {
  height: 48px;
}
.input-wrap:last-child {
  margin-bottom: 0;
}
.input-search {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background: #F7F7F7;
  height: 48px;
  width: 329px;
  min-width: 320px;
  padding-left: 16px;
  padding-right: 60px;
  font-size: 14px;
}
.search__icon--box {
  background: #FFC634;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  width: 48px;
  justify-content: center;
  cursor: pointer;
}
.icon-search-icon {
  font-size: 1.6rem;
  width: 1em;
  fill: $colorWhite;
  width: 17px;
}
.input-wrap {
  position: relative;
}



// МЕНЮ
.header__menu {
  display: flex;
  align-items: center;
  //box-shadow: 0px 4px 4px rgb(0 0 0 / 8%);
  border-top: 1px solid #FAFAFA;
  justify-content: space-between;
}

.header__menu__link_humb {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    background-image: url('../../../img/humb-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 14px;
    //@include width-flex(21px)
    height: 16px;
    width: 16px;
    margin-right: 12px;
  }

  &:hover {
    border-bottom: 2px solid transparent !important;
    text-decoration: none;
  }
}

.header__menu--link {
  &:hover {
    text-decoration: none;
  }
}

.header__menu__item--wrap.active {


  .header__menu--item_humb {
    background: #586166;

    .header__menu--link {
      color: #ffffff;
    }

    .header__menu__link_humb {
      &:before {
        background-image: url('../../../img/close-icon-white.svg');
        margin-right: 12px;
        background-size: 16px 16px;

      }

    }
  }

}


.header__menu__link_phone {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    //@include background-contain('phone-yellow-icon.svg');
    @include width-flex(16px);
    height: 16px;
    margin-right: 12px;
  }
}


.header__menu--link {
  font-size: 16px;
  font-family: $fontPrimary;
  font-weight: bold;
  text-transform: uppercase;
  color: #4D4D4D;
  @include hover-link(#4D4D4D);
  border-radius: 0;


}

.header__menu__item_humb {
  border: none !important;
}

.header__menu--link {
  border-bottom: 2px solid transparent;
  padding: 12px 24px;

  &:hover {
    border-bottom: 2px solid #FFC634;
  }

}

.header__menu--item {

  &:first-child {
    border-radius: 5px 0px 0px 5px;

    .header__menu--link {
    }
  }

  &:last-child {
    border-radius: 0px 5px 5px 0px;

    .header__menu--link {
    }
  }
}

.dropdown-menu__wrap {
  display: none;

}

.menu-bg-img {
  position: absolute;
  width: 685px;
  height: 199px;
  top: 0px;
  right: 500px;
}


.header__menu__item--wrap.active {
  .dropdown-menu__wrap,
  .dropdown-equipment__wrap {
    display: block;
  }
}

.header-menu__item.active,
.header-menu__item:hover {

}

.header__menu {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-top: 1px solid #FAFAFA;
  //padding-right: 50px;
  justify-content: space-between;
  //position: relative;
}


// дропдаун

.dropdown-menu__wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  z-index: 10000;
  padding: 24px 0;
  min-height: 624px;

  background: linear-gradient(273.5deg, #F2EBFF 24.86%, #B995FF 101.03%), #F2EBFF;
}


.dropdown-menu__item {
  //position: relative;

}


.drop-title {
  margin-bottom: 40px;
  display: block;
}

.dropdown-menu__item {
  margin-bottom: 32px;
  @include last-mb-0
}
.content-title-big {
  font-size: 48px;
  font-family: $fontPrimary;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 56px;
}
.content-title-middle.drop-subtitle {
  display: flex;
  align-items: center;
  color: #4D4D4D;
  font-size: 24px;
  line-height: 28px;
  font-family: $fontPrimary;
  font-weight: 900;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  .span {
    border-bottom: 2px solid transparent;
  }

  &:after {
    display: none;
    content: '';
    @include background-contain('arrow-black-down.svg');
    @include width-flex(22px);
    height: 13px;
    margin-left: auto;
    transform: rotate(-90deg);
  }

}
.header__menu-humb-bg {
  background: #FFC634;
}
.dropdown-submenu__list {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  -webkit-transition: opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  transition: opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  transition: transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  transition: transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;

}

.dropdown-view-solution__list {
  position: relative;
  opacity: 0;
  transition: 1s;
  //-webkit-transform: translateX(-30px);
  //transform: translateX(-30px);
  //-webkit-transition: opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  //transition: opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  //transition: transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;
  //transition: transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, opacity .1s cubic-bezier(0.4, 0, 0.2, 1) .1s, -webkit-transform .1s cubic-bezier(0.4, 0, 0.2, 1) .1s;

}

.dropdown-submenu__item {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
}

.dropdown-menu__item.active {
  .content-title-middle.drop-subtitle {
    color: #252525;


    .span {
      border-bottom: 2px solid #252525;
    }

    &:after {
      display: block;
    }
  }

  .dropdown-submenu__wrap {
    visibility: visible;
    transform: translateX(0);
  }

  .dropdown-submenu__list {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
  }

}

.subtitle.drop-link {
  color: #4D4D4D;
  display: block;

}

.dropdown-submenu__item.active {
  .dropdown-view-solution__list {
    opacity: 1;
    transition: 1s;

    //-webkit-transform: translateX(0);
    //transform: translateX(0);
    //-webkit-transition: opacity .4s cubic-bezier(0.4,0,0.2,1) .2s,-webkit-transform .4s cubic-bezier(0.4,0,0.2,1) .2s;
    //transition: opacity .4s cubic-bezier(0.4,0,0.2,1) .2s,-webkit-transform .4s cubic-bezier(0.4,0,0.2,1) .2s;
    //transition: transform .4s cubic-bezier(0.4,0,0.2,1) .2s,opacity .4s cubic-bezier(0.4,0,0.2,1) .2s;
    //transition: transform .4s cubic-bezier(0.4,0,0.2,1) .2s,opacity .4s cubic-bezier(0.4,0,0.2,1) .2s,-webkit-transform .4s cubic-bezier(0.4,0,0.2,1) .2s;

  }

  .subtitle.drop-link {
    color: #252525;
  }
}

.dropdown-menu__item--block {
  padding-right: 32px;
  position: relative;
}

.dropdown-menu__wrap--inner {
  //position: relative;
}

.close-menu {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 25px;
  right: 64px;

  &:hover {
    cursor: pointer;
  }
}


.dropdown-submenu__wrap {
  visibility: hidden;
  //overflow: hidden;
  position: absolute;
  top: 0;
  left: 650px;
  right: 0;
  width: 345px;
}

.dropdown-view-solution__item {
  width: 212px;
  height: 96px;
  position: relative;
  margin-bottom: 16px;
  @include last-mb-0
}

.dropdown-view-solution__item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.dropdown-view-solution__item-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #252525;
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: $fontPrimary;
}


.dropdown-view-solution__wrap {
  //visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: -71px;
  left: 400px;
  right: 0;
  width: 212px;
  height: 700px;

  .nano-pane {
    display: none !important;
    //width: 5px;
    .nano-slider {
      //background: #747f84;
    }
  }
}

.dropdown-equipment__wrap {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  z-index: 10000;
  height: 850px;
  background: linear-gradient(98.12deg, rgba(255, 198, 52, 0.47) 6.24%, rgba(255, 198, 52, 0) 50.51%, rgba(255, 198, 52, 0.39) 91.68%), #FFFFFF;
}

.dropdown-equipment__left {
  position: relative;
}

.dropdown-equipment__left_bg {
  position: absolute;
  background: #586166;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  right: 0;
  top: 0;
  bottom: 0;
  height: 850px;
  width: 1000px;
}

.dropdown-equipment__menu {
  position: relative;
  z-index: 10;
  padding-top: 30px;
  margin-bottom: 50px;
}


.dropdown-equipment__link {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $fontPrimary;
  //border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    background: transparent;
    width: 100%;
    height: 2px;
  }
  &:hover {
    text-decoration: none;
  }

}

ul {
  list-style: none;
}
.dropdown-equipment__item {
  padding: 15px 25px 15px 0;
}

.dropdown-equipment__submenu--wrap {
  position: absolute;
  width: 900px;
  left: calc(100% + 56px);
  top: 48px;
  visibility: hidden;

}

.dropdown-equipment__submenu--wrap--inner {

  opacity: 0;
  //transition: 1s;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  -webkit-transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;


}


.dropdown-equipment__item--wrap.active {
  .dropdown-equipment__submenu--wrap {
    visibility: visible;
    transform: translateX(0);

  }

  .dropdown-equipment__item {
    position: relative;

    &:after {
      position: absolute;
      right: -9px;
      top: 50%;
      margin-top: -9px;
      content: '';
      background: #586166;
      width: 18px;
      height: 18px;
      display: block;
      transform: rotate(45deg);
    }


  }

  .dropdown-equipment__link {
    color: #FFC634;
    //border-bottom: 2px solid #ffffff;
    &:after {
      background: #ffffff;
    }
  }

  .dropdown-equipment__submenu--wrap--inner {
    //transition: 1s;
    opacity: 1;
    //transition: 1s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1) .2s, -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1) .2s;

  }


}


.dropdown-equipment--product {
  display: block;
  width: 212px;

  .product-item {
    //pointer-events: none;
    width: 100%;
    border-radius: 0 0 5px 5px;

  }

  .product-item__desc {
    display: block;
  }
}

.product-item--head {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  border-radius: 5px 5px 0 0;
  padding: 10px 5px;
  border-bottom: 1px solid #E5E5E5;

}

.product-item--head--text {
  font-size: 12px;
  text-transform: uppercase;
  color: #4D4D4D;
  font-family: $fontPrimary;
  font-weight: bold;
}

.dropdown-equipment__submenu--title {
  color: #4D4D4D;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $fontPrimary;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.dropdown-equipment__submenu--link {
  color: #586166;
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;

}


.dropdown-equipment__submenu--list {
  padding-left: 15px;
}

.dropdown-equipment__submenu--block {
  margin-bottom: 10px;
  display: inline-block;
}

.dropdown-equipment__submenu {
  column-count: 2;
}

.dropdown-nano {
  .nano-pane {
    display: none !important;
    width: 5px;

    .nano-slider {
      background: #747f84;
    }
  }


}


.dropdown-equipment__menu {
  .dropdown-nano {
    height: 750px;
  }
}

.dropdown-menu__wrap {
  .dropdown-nano {
    height: 500px;
    margin-top: -70px;
  }

  .dropdown-nano-content {
    padding-bottom: 76px;
    padding-top: 76px;
  }
}

//
/** initial setup **/
.nano {
  //position : relative;
  position : absolute;
  width : 100%;
  height : 100%;
  overflow : hidden;
}

.nano > .nano-content {
  position : absolute;
  overflow : scroll;
  overflow-x : hidden;
  top : 0;
  bottom : 0;
  left : 0;
  width: 100%;
}
.tabs {
  border-bottom: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: #fff;
  position : absolute;
  width: 9px;
  right: 0;
  top : 0;
  bottom : 0;
  visibility : hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 1;
  -webkit-transition : .2s;
  -moz-transition : .2s;
  -o-transition : .2s;
  transition : .2s;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  border-radius : 5px;
  padding: 1px 0;
}

.nano > .nano-pane > .nano-slider {
  background: #619fff;
  position : relative;
  margin : 0 1px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  border-radius: 8px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity : 0.99;
}


