header.header__wrap
    .header__top--wrap
        .container
            .header__top
                nav.header__nav
                    ul.nav__list
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link О компании
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link Пресс-центр
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link Партнёры
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link Доставка и оплата
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link Тендерный отдел
                        li.nav__item
                            a(href="javascript:void(0);").info-item__link Оптовые поставки

                .header__top--right
                    a(href="javascript:void(0);").header__top--item
                        +icon('geo', '').header__icon
                        .header__text Санкт-Петербург
                    a(href="javascript:void(0);").header__top--item
                        +icon('heart', '').header__icon
                        .header__text Избранное
                    a(href="javascript:void(0);").header__top--item
                        +icon('normal', '').header__icon
                        .header__text Сравнить
                    a(href="javascript:void(0);").header__top--item
                        +icon('card', '').header__icon
                        .header__text Корзина
    .header__middle--wrap
        .container
            .header__middle
                a(href="javascript:void(0);")
                    img(src='../../../img/logo-header.svg' alt='').header__logo
                +search-block
                .header__age--block
                    img(src='../../../img/years.svg' alt='').header__years
                    .header__age--text Поставляем комплексные решения
                        .span-br и оборудование для бизнеса

    //Сложное меню
    .header__middle--wrap
        .container
            ul.header__menu
                li.header__menu__item--wrap
                    .header__menu--item.header__menu--item_humb.header__menu-humb-bg
                        a(href="javascript:void(0);").header__menu--link.header__menu__link_humb Оборудование
                    .dropdown-equipment__wrap
                        .dropdown-menu__wrap--inner
                            img(src='../img/close-menu-icon.svg' alt=' ', title='').close-menu
                        .container
                            .row
                                .col-lg-3
                                    .dropdown-equipment__left
                                        .dropdown-equipment__left_bg
                                    ul.dropdown-equipment__menu
                                        li.dropdown-equipment__item--wrap.active
                                            .dropdown-equipment__item
                                                a(href="javascript:void(0);").dropdown-equipment__link Системы видеонаблюдения
                                            +dropdown-equipment__submenu--wrap
                                        each val in ['Системы контроля доступа','ОПС и оповещение','здравоохранение','Кабель, СКС, ИБП, икомплектующие','Системы гражданской обороны и чрезвычайных ситуаций']
                                            li.dropdown-equipment__item--wrap
                                                .dropdown-equipment__item
                                                    a(href="javascript:void(0);").dropdown-equipment__link !{val}
                                                +dropdown-equipment__submenu--wrap

                                    //.dropdown-equipment--product
                                    //    .product-item__wrap-drop
                                    //        .product-item--head
                                    //            .product-item--head--text.exclamation-icon-black-small Спецпредложение
                                    //        .product-item
                                    //            a(href="javascript:void(0);").reviews-rating--wrap
                                    //                // при негативном - reviews-rating_red
                                    //                .reviews-rating.reviews-rating_green
                                    //                    svg.reviews-rating--bg(viewBox='0 0 33 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    //                        path(d='M0 22V0H27L33 11L27 22H0Z' )
                                    //                    .reviews-rating-num 4.1
                                    //                .reviews-rating--text ОЦЕНКА
                                    //            .product-item__icons
                                    //                a(href="javascript:void(0);").product-item__block-icon.compare-icon
                                    //                a(href="javascript:void(0);").product-item__block-icon.favorite-icon
                                    //            .img-wrap
                                    //                img(src='../img/product-img-1.png' alt='', title='').product-item--img.img-100
                                    //            a(href="javascript:void(0);").product-item__desc
                                    //                .product-item--title Видеокамера
                                    //                .product-item--model VIDSTAR VSR-1660-AHD-M
                                    //                .product-item__desc__bottom
                                    //                    .price-block
                                    //                        .old-price--wrap
                                    //                            .old-price.price 8 021₽
                                    //                        .new-price.price 12.689 ₽

                li.header__menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link Решения
                        .dropdown-menu__wrap
                            .dropdown-menu__wrap--inner
                                img(src='../img/menu-bg-cam.png' alt=' ', title='').menu-bg-img
                                img(src='../img/close-menu-icon.svg' alt=' ', title='').close-menu
                            .container
                                a(href="javascript:void(0);").content-title-big.text-white.drop-title Решения
                                //.dropdown-nano.nano
                                //	.dropdown-nano-content.nano-content
                                // использовать data !!!
                                .row
                                    .col-lg-5
                                        .dropdown-menu__item--block
                                            ul.dropdown-menu__list
                                                li.dropdown-menu__item.active
                                                    a(href="javascript:void(0);").content-title-middle.drop-subtitle
                                                        span.span Решения по отраслям
                                                    +dropdown-submenu__wrap
                                                li.dropdown-menu__item
                                                    a(href="javascript:void(0);").content-title-middle.drop-subtitle
                                                        span.span Решения по типу применения
                                                    +dropdown-submenu__wrap
                                                li.dropdown-menu__item
                                                    a(href="javascript:void(0);").content-title-middle.drop-subtitle
                                                        span.span Реализованные проекты
                                                    .dropdown-submenu__wrap
                                                        ul.dropdown-submenu__list
                                                            each val in ['Транспорт', 'Банки','образование']
                                                                li.dropdown-submenu__item
                                                                    a(href="javascript:void(0);").subtitle.drop-link !{val}
                                                                    .dropdown-view-solution__wrap
                                                                        ul.dropdown-view-solution__list
                                                                            each val, index  in ['Аэропорты', 'общественный <br/>транспорт','Морские порты','дорожное<br/> движение',`Логистика и  <br/>\tгрузоперевозки`]
                                                                                li.dropdown-view-solution__item
                                                                                    a(href="javascript:void(0);").dropdown-view-solution__item--inner
                                                                                        .dropdown-view-solution__item-img(style=`background-image:url(../img/drop-solut-img-${index + 1}.png);`)
                                                                                        .dropdown-view-solution__item-title !{val}

                                                        //+dropdown-submenu__wrap


                li.header__menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link УСЛУГИ
                li.header__menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link Консалтинг
                li.header__menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link ФРАНШИЗА
                li.header__menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link ОПТОВЫЕ ПОСТАВКИ
                li.header-menu__item--wrap
                    .header__menu--item
                        a(href="javascript:void(0);").header__menu--link розничная торговля
