mixin icon(name, mod)
  - mod = mod || ''
  if mod
    svg(class=`icon icon-${name} icon-${name}--${mod}`)
      use(xlink:href=`./img/svg/sprite.svg#${name}`)
  else
    svg(class=`icon icon-${name}`)
      use(xlink:href=`./img/svg/sprite.svg#${name}`)

mixin input(label, type, name, id, value, placeholder, require, alert)
  .custom-input
    - if (require == '' || require == 'false')
      label(for=`${name}-${id}`).custom-input__label #{label}
      input(type=type, name=name, id=`${name}-${id}`, value=value, placeholder=placeholder).custom-input__input
    - else
      label(for=`${name}-${id}`).custom-input__label.custom-input__label--require #{label}
        span *
      input(require, type=type, name=name, id=`${name}-${id}`, value=value, placeholder=placeholder).custom-input__input
    .custom-input__alert
      p #{alert}

mixin checkbox(text, name, id, link)
  .custom-checkbox
    input(type="checkbox", name=name, id=`${name}-${id}`).custom-checkbox__input
    label(for=`${name}-${id}`).custom-checkbox__label
      span.custom-checkbox__toggle
        <svg height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6L5 10L11.5 1" stroke="#000000" stroke-width="2"/>
        </svg>
      span.custom-checkbox__text #{text}
        if link
          a(href=link.href).link
            span #{link.title}

mixin radio(label, name, id, value, checked, icon)
  .custom-radio
    - icon = icon || ''
    - if (icon != '')
      - checked = checked || ''
      - if (checked != 'true')
        input(type='radio', name=name, id=`${name}-${id}`, value=value).custom-radio__input
      - else
        input(checked, type='radio', name=name, id=`${name}-${id}`, value=value).custom-radio__input
      label(for=`${name}-${id}`).custom-radio__label.custom-radio__label--iconic
        +icon(icon)
        span #{label}
    - else
      - checked = checked || ''
      - if (checked != 'true')
        input(type='radio', name=name, id=`${name}-${id}`, value=value).custom-radio__input
      - else
        input(checked, type='radio', name=name, id=`${name}-${id}`, value=value).custom-radio__input
      label(for=`${name}-${id}`).custom-radio__label
        span #{label}

mixin textarea(label, name, id, placeholder, require)
  .custom-textarea
    - if (require == '' || require == 'false')
      label.custom-textarea__label #{label}
      textarea(name=name, id=`${name}-${id}`,placeholder=placeholder).custom-textarea__area
    - else
      label.custom-textarea__label.custom-textarea__label--require #{label}
        span *
      textarea(require, name=name, id=`${name}-${id}`, value=value, placeholder=placeholder).custom-textarea__area

mixin file(label, name, id)
  .custom-inputfile
    input(type="file", id=`${name}-${id}`, data-multiple-caption="Выбрано файлов: {{count}}", multiple).custom-inputfile__input
    label(for=`${name}-${id}`).custom-inputfile__label
      +icon('file')
      span #{label}

mixin search-block
  .search-block
    .input-wrap
      input(type='text' placeholder='Поиск товара по названию, артикулу').input-search
      //img(src='../img/search-icon.svg' alt='', title='').search-icon
      .search__icon--box
        +icon('search-icon', '')


mixin dropdown-submenu__wrap
  .dropdown-submenu__wrap
    ul.dropdown-submenu__list
      each val in ['Транспорт', 'Банки','образование','здравоохранение','Транспорт', 'Банки','образование','здравоохранение',`Правительственные <br/>\tорганизации`,'офисы','Гостиницы и рестораны','Розничная торговля']
        li.dropdown-submenu__item
          a(href="javascript:void(0);").subtitle.drop-link !{val}
          .dropdown-view-solution__wrap.nano
            ul.dropdown-view-solution__list.nano-content
              each val, index  in [ 'Аэропорты', 'общественный <br/>транспорт','Морские порты','дорожное<br/> движение',`Логистика и  <br/>\tгрузоперевозки`]
                li.dropdown-view-solution__item
                  a(href="javascript:void(0);").dropdown-view-solution__item--inner
                    .dropdown-view-solution__item-img(style=`background-image:url(../img/drop-solut-img-${index + 1}.png);`)
                    .dropdown-view-solution__item-title !{val}
              each val, index  in [ 'Аэропорты', 'общественный <br/>транспорт','Морские порты','дорожное<br/> движение',`Логистика и  <br/>\tгрузоперевозки`]
                li.dropdown-view-solution__item
                  a(href="javascript:void(0);").dropdown-view-solution__item--inner
                    .dropdown-view-solution__item-img(style=`background-image:url(../img/drop-solut-img-${index + 1}.png);`)
                    .dropdown-view-solution__item-title !{val}


mixin dropdown-equipment__submenu--wrap
  .dropdown-equipment__submenu--wrap
    .dropdown-equipment__submenu--wrap--inner
      // СКРОЛЛ
      .dropdown-nano.nano
        .dropdown-nano-content.nano-content
          .dropdown-equipment__submenu
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения1
              ul.dropdown-equipment__submenu--list
                -for (var a1 = 0; a1 < 8; a1++)
                  li.dropdown-equipment__submenu--item
                    a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
                ul.dropdown-equipment__submenu--list
                  -for (var a1 = 0; a1 < 8; a1++)
                    li.dropdown-equipment__submenu--item
                      a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
                ul.dropdown-equipment__submenu--list
                  -for (var a2 = 0; a2 < 8; a2++)
                    li.dropdown-equipment__submenu--item
                      a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
              ul.dropdown-equipment__submenu--list
                -for (var a3 = 0; a3 < 8; a3++)
                  li.dropdown-equipment__submenu--item
                    a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
                ul.dropdown-equipment__submenu--list
                  -for (var a4 = 0; a4 < 8; a4++)
                    li.dropdown-equipment__submenu--item
                      a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
                ul.dropdown-equipment__submenu--list
                  -for (var a6 = 0; a6 < 8; a6++)
                    li.dropdown-equipment__submenu--item
                      a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI
            .dropdown-equipment__submenu--block
              a(href="javascript:void(0);").dropdown-equipment__submenu--title Камеры видеонаблюдения
                ul.dropdown-equipment__submenu--list
                  -for (var a7 = 0; a7 < 8; a7++)
                    li.dropdown-equipment__submenu--item
                      a(href="javascript:void(0);").dropdown-equipment__submenu--link HD камеры AHD, TVI, SDI,CVI


mixin swiper-big-buttons
  .swiper-buttons
    .swiper-button-prev
      svg.swiper-button-icon(viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 1.72465L5.35997 7.39157L0 13.0585L1.63129 14.7832L8.62256 7.39157L1.63129 -6.00815e-05L0 1.72465Z')
    .swiper-button-next
      svg.swiper-button-icon(viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 1.72465L5.35997 7.39157L0 13.0585L1.63129 14.7832L8.62256 7.39157L1.63129 -6.00815e-05L0 1.72465Z')

mixin button-tr-small(title)
  a(href="javascript:void(0);").button.button-tr-small=title

mixin footer__nav--wrap
  section.footer__nav--wrap
    .container
      .row
        .col-lg-12
          .row
            .col-lg-4
              .footer__nav--block
                a(href="javascript:void(0);").footer__nav--block--title Системы видеонаблюдения
                ul.footer__nav
                  each val in ['Камеры видеонаблюдения', 'Комплекты видеонаблюдения', 'Объективы', 'Кронштейны и адаптеры', 'Кожухи для видеокамер', 'Грозозащита', 'Устройства инфракрасной подсветки', 'Видеорегистраторы', 'Цифровые системы записи на базе ПК', 'Мониторы', 'Пульты управления', 'Матричные системы', 'Программное обеспечение', 'Устройства для передачи и обработки аудио/видео', 'Аксессуары для видеонаблюдения', 'Аксессуары для сетевого оборудования',]
                    li.footer-item
                      a(href="javascript:void(0);").footer-link=val
              a(href="javascript:void(0);").footer__nav--block--title Каталог по брендам
              a(href="javascript:void(0);").footer__nav--block--title Архив товаров
            .col-lg-4
              .footer__nav--block
                a(href="javascript:void(0);").footer__nav--block--title Системы контроля доступа
                ul.footer__nav
                  each val in ['Принтеры для карт и расходники', 'Считыватели', 'Видеодомофоны аналоговые', 'Шлагбаумы и автоматика для ворот', 'Контроллеры', 'IP домофония', 'Турникеты', 'Карточки и другие идентификаторы', 'Системы "Клиент - кассир" (интеркомы)', 'Исполнительные устройства', 'Аксессуары', 'ПО для СКУД',]
                    li.footer-item
                      a(href="javascript:void(0);").footer-link=val
              .footer-nav__block
                a(href="javascript:void(0);").footer__nav--block--title Кабель, СКС, ИБП, и комплектующие
                ul.footer__nav
                  each val in ['Блоки питания и аксессуары', 'Кабели', 'Накопители', 'Шкафы и комплектующие', 'Инструменты', 'Монтажные изделия', 'Роутеры, модемы и PoE']
                    li.footer-item
                      a(href="javascript:void(0);").footer-link=val
            .col-lg-4
              a(href="javascript:void(0);").footer__nav--block--title Услуги
              a(href="javascript:void(0);").footer__nav--block--title консалтинг
              .f.footer__nav--block
                a(href="javascript:void(0);").footer__nav--block--title ОПС и оповещение
                ul.footer__nav
                  each val in ['Извещатели', 'Оповещатели', 'Приемно-контрольные приборы', 'Радиоканальные системы', 'Системы звукового оповещения', 'Аксессуары для ОПС и оповещения']
                    li.footer-item
                      a(href="javascript:void(0);").footer-link=val
              .footer__nav--block
                a(href="javascript:void(0);").footer__nav--block--title Системы гражданской обороны и чрезвычайных ситуаций
                ul.footer__nav
                  each val in ['Контрольно-измерительные устройства', 'Индивидуальные средства защиты', 'Системы регенерации', 'Средства связи', 'Другие гаджеты', 'Специализированные камеры', 'Информационная безопасность']
                    li.footer-item
                      a(href="javascript:void(0);").footer-link=val


mixin footer-wrap
  footer.footer__wrap
    .container
      .row
        .col-lg-12
          .row
            .col-lg-3.offset-lg-1
              a(href="javascript:void(0);")
                img(src='../img/logo-header.svg' alt=' ', title='').header__logo
              .footer__block
                .footer__block--small-title Мы в социальных сетях
                .social
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_vk
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_fb
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_in
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_you
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_google
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_tw
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_whaths
                  .social-footer-item
                    a(href="javascript:void(0);").social-footer-link.social-footer-link_teleg
              .footer__block
                .footer__block--small-title Мы принимаем к оплате
                .pay-cards
                  img(src='../img/mastercard.svg' alt=' ', title='').pay-card
                  img(src='../img/visa.svg' alt='', title='').pay-card
            .col-lg-3
              .footer__block--big-title Работаем ПН-ПТ: 9.00 - 19.00
              .footer__block
                .footer__block--big-title Звонки по России
                a(href="tel:+7 (800) 500-72-35").footer-tel +7 (800) 500-72-35
              .footer__block
                .footer__block--big-title г. Санкт-Петербург
                a(href="tel:+7 (800) 500-72-35").footer-tel +7 (812) 643-20-10
              .footer__block
                .footer__block--big-title г.Москва
                a(href="tel:+7 (800) 500-72-35").footer-tel +7 (499) 430-82-87
            .col-lg-2
              .footer-menu__block
                .footer__block--big-title Компания
                ul.footer-menu
                  each val in ['О компании','Дилерам','Галерея','Видео-обзоры','Политика конфиденциальности','Контакты']
                    li.footer-menu--item
                      a(href="javascript:void(0);").footer-menu--link=val
            .col-lg-2
              .footer-menu__block
                .footer__block--big-title Информация
                ul.footer-menu
                  each val in ['Монтаж','Доставка и оплата','Гарантия и возврат','Прайс-лист','Глоссарий','Карта сайта']
                    li.footer-menu--item
                      a(href="javascript:void(0);").footer-menu--link=val



mixin product-item
  .product-item__wrap
    .product-item
      a(href="javascript:void(0);").reviews-rating--wrap
        +reviews-rating
        .reviews-rating--text ОЦЕНКА
      +product-item__icons
      .img-wrap
        img(data-lazy='../img/product-img-1.png' alt='', title='').product-item--img.img-100
      .product-item__desc
        .product-item--title Видеокамера
        .product-item--model VIDSTAR VSR-1660-AHD-M
        .charact-block.nano
          .charact-block--content.nano-content
            - for(var m=0; m<7; m++)
              .charact-item
                .charact-value Разрешение камеры
                .charact-key до 2 Mpx

        .product-item__desc__bottom
          .price-block
            .old-price--wrap
              .old-price.price 8 021₽
            .new-price.price 12.689 ₽
          a(href="javascript:void(0);").view-link ПОСМОТРЕТЬ




mixin reviews-rating
  // при негативном - reviews-rating_red
  .reviews-rating.reviews-rating_green
    svg.reviews-rating--bg(viewBox='0 0 33 22' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M0 22V0H27L33 11L27 22H0Z' )
    .reviews-rating-num 4.1

mixin product-item__icons
  .product-item__icons
    a(href="javascript:void(0);").product-item__block-icon.compare-icon
    a(href="javascript:void(0);").product-item__block-icon.favorite-icon
      +icon('heart', '')


mixin specials
  section.special-section
    .tabs.js-tabs
      .title-wrap
        a(href="javascript:void(0);").title-link
          h2.content-title.arrow-icon Спецпредложения
        .tabs-nav.js-tabs-nav.d-flex.justify-content-center.mb-4.mt-4
          .tabs-nav__list-wrap
            ul.tabs-nav__list
              li.tabs-nav__item.js-tabs-item.active
                a.tabs-nav__link.js-tabs-link(href='#tab-1') STOCK ZONE
              li.tabs-nav__item.js-tabs-item
                a.tabs-nav__link.js-tabs-link(href='#tab-2') Лидеры продаж
              li.tabs-nav__item.js-tabs-item
                a.tabs-nav__link.js-tabs-link(href='#tab-3') Новинки
            span.tabs-nav__drag.js-tabs-drag
      .tabs-content.js-tabs-wrap
        #tab-1.tab.js-tabs-content.active
          .slider-slick__wrap
            .container-arrows
            .slider-product
              - for(var k=0; k<10; k++)
                .slider-big__item
                  +product-item
        #tab-2.tab.js-tabs-content
          .slider-slick__wrap
            .container-arrows
            .slider-product
              - for(var o=0; o<10; o++)
                .slider-big__item
                  +product-item

        #tab-3.tab.js-tabs-content
          .slider-slick__wrap
            .container-arrows
            .slider-product
              - for(var n=0; n<10; n++)
                .slider-big__item
                  +product-item


mixin swiper-big-buttons
  .swiper-buttons
    .swiper-button-prev
      svg.swiper-button-icon(viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 1.72465L5.35997 7.39157L0 13.0585L1.63129 14.7832L8.62256 7.39157L1.63129 -6.00815e-05L0 1.72465Z')
    .swiper-button-next
      svg.swiper-button-icon(viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 1.72465L5.35997 7.39157L0 13.0585L1.63129 14.7832L8.62256 7.39157L1.63129 -6.00815e-05L0 1.72465Z')


mixin solution-section(data)
  section.solution__section
    .title-wrap
      a(href="javascript:void(0);").title-link
        h2.content-title.arrow-icon !{data.title}
    .slider-wrap.slider-big__wrap
      .swiper-container.slider-big.slider-gradient.slider-solution
        +swiper-big-buttons
        .swiper-wrapper
          - for(var r=0; r<3; r++)
            each val in ['solution-img-1.jpg', 'solution-img-2.jpg']
              .swiper-slide.slider-solution__item
                +solution__item({
                    img: val,
                    title: 'Защитные каркасные экраны',
                    subtitle: 'Решение для измерения температуры тела'
                })



mixin solution__item(data)
  if(data.nolink)
    .solution__item(style=`background-image:url(../img/${data.img});`)
      .solution__item-desc
        .solution__item-title=data.title
        if !(data.subtitle === '')
          .solution__item-subtitle=data.subtitle
  else
    a.solution__item(href="javascript:void(0);" style=`background-image:url(../img/${data.img});` )
      .solution__item-desc
        .solution__item-title.arrow-icon=data.title
        if !(data.subtitle === '')
          .solution__item-subtitle=data.subtitle


mixin banner(data)
  .banner(style=`background-image:url(../img/${data.img});`)
    .banner-block
      .banner-title !{data.title}
      if !(data.subtitle === '')
        .banner-subtitle !{data.subtitle}


mixin for-applic
  .for-applic__wrap
    .for-applic
      .for-applic--title Для заявок:
      a(href="mailto:info@securtv.ru").for-applic--mail.sidebar-block-mail info@securtv.ru


mixin button-yellow-small(title)
  a(href="javascript:void(0);").button.button-yellow-small=title
