.wholesale
    .wholesale__title
        h2.content-title.wholesale__content-title
            span комплексные
            span.text-yellow.mr-2  оптовые поставки
            span видеонаблюдения
//img(src='../img/wholesale-img-content-1.png' alt='', title='').img-100
