section.partner__section
    .title-wrap
        a(href="javascript:void(0);").title-link
            h2.content-title.arrow-icon наши партнёры
    .slider-wrap.slider-big__wrap
        .swiper-container.slider-big.slider-gradient.slider-logo
            +swiper-big-buttons
            .swiper-wrapper
                - for(var r=0; r<3; r++)
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-1.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-2.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-3.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-4.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-5.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-6.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-7.png' alt='', title='').logo-company.swiper-lazy.img-100
                    .swiper-slide.slider-logo__item
                        .logo-company-wrap
                            img(src='../img/logo-partner-8.png' alt='', title='').logo-company.swiper-lazy.img-100
