.slider-gradient {
  position: relative;

  &:before {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 200px;
    height: 100%;
    z-index: 1000;
  }

  &:hover {
    &:before {
      opacity: 1;
      transition: 0.5s;
    }
  }
}
.slider-big {
  position: relative;

  .swiper-buttons {
    opacity: 0;
    transition: 0.5s;
    padding: 0 16px;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    //margin-top: -24px;
    z-index: 1100;
  }

  &:hover {
    .swiper-buttons {
      opacity: 1;
      transition: 0.5s;
    }

  }
}
.slider-big__wrap {
  margin-bottom: 64px;

  .swiper-button-next, .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: 0;
    @include width-flex(48px);
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.2);
    outline: none !important;

    .swiper-button-icon {
      fill: #FFC634;
      height: 20px;
      width: 12px;
      margin-left: 4px;

    }

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);

    .swiper-button-icon {
    }
  }

  .swiper-button-disabled {
    .swiper-button-icon {
      fill: #E5E5E5;
    }

  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;

  }

  .swiper-pagination {
    //position: absolute;
    //left: 0;
    //right: 0;
  }

  .swiper-pagination-bullet {
    width: 16px;
    background: #FFFFFF;
    height: 16px;
    opacity: 0.5;

  }

  .swiper-pagination-bullet-active {
    background: #FFC634;
    opacity: 0.8;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}
.logo-company-wrap {
  width: auto;
  height: 125px;
  //margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-company {
  width: auto;
}
