.page__top--wrap {
  border-bottom: 1px solid #E5E5E5;
}
.page__top--line {
  background: #586166;
}
.page__top--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.page__top--text {
  //font-family: $OpenSansBold;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $fontPrimary;
  font-weight: 700;
}
.page__top--close {
  display: flex;
}
.icon-close-top {
  fill: #fff;
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}
