.page__top.page__top--wrap
    .page__top--line
        .container
            .page__top--block
                .empy-block
                .page__top--text Бесплатная доставка при заказе от 100.000₽
                a(href="javascript:void(0);").page__top--close
                    +icon('close-top', '')
