.main__block
    section.slider_top-section
        .swiper-container.slider-big.slider-big-top
            //.preloader
            +swiper-big-buttons
            .swiper-pagination.swiper-pagination--top
            .swiper-wrapper
                - for(var i=0; i<5; i++)
                    .swiper-slide.slider-big__item
                        .slider-big-top_bg(style='background-image:url("../img/slider-bg-img.jpg");')
                            .slider__big--body
                                .slider-big__left
                                    .slider-big--title ОФИЦИАЛЬНЫЙ 
                                        .span-br.text-yellow ЗОЛОТОЙ ПАРТНЁР 
                                        | DAHUA В РОССИИ
                                    a(href="javascript:void(0);").button.button-yellow-middle В КАТАЛОГ
                                .slider-big__right
                                    img(src='../img/dahua-logo.png' alt=' ', title='').dahua-logo



    +specials
    include ../partners/partners
    include ../sentenceSection/sentenceSection
    include ../solutionBlock/solutionBlock
    include ../wholesale/wholesale

