.main__block {

}

.slider-big__wrap {
  margin-bottom: 64px;
}

.slider-big {
  position: relative;
}

//.swiper-container {
//  margin-left: auto;
//  margin-right: auto;
//  position: relative;
//  overflow: hidden;
//  list-style: none;
//  padding: 0;
//  z-index: 1;
//}

//.swiper-container.swiper-container-initialized .preloader {
//  display: none;
//}
//
//.swiper-container .preloader {
//  display: block;
//}

.preloader {
  //background-image: url(../img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  display: block;
}

.slider-big .swiper-buttons {
  opacity: 0;
  transition: 0.5s;
  padding: 0 16px;
  height: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  z-index: 1100;
}

.slider-big__wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.slider-big-top_bg {
  height: 319px;
  width: 100%;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 118px;
}

.slider__big--body {
  display: flex;
  align-items: flex-start;
}

.slider-big__left {
  max-width: 40%;
}

.slider-big--title {
  font-size: 34px;
  line-height: 36px;
  //font-family: "OpenSans-Extrabold";
  color: #ffffff;
  margin-bottom: 44px;
  margin-right: 24px;
}

.text-yellow {
  color: #FFC634 !important;
}

.span-br {
  display: block;
}

.button-yellow-middle {
  font-size: 12px;
  color: #000000;
  background: #FFC634;
  border-radius: 5px;
  padding: 12px 24px;
  //font-family: "OpenSans-Bold";
}

.dahua-logo {
  width: 264px;
  height: 101px;
}



//.swiper-wrapper {
//  position: relative;
//  //display: flex;
//}
//
//.swiper-slide {
//  flex-shrink: 0;
//  width: 100%;
//  height: 100%;
//  position: relative;
//  transition-property: transform;
//}
.slider-big:hover .swiper-buttons {
  opacity: 1;
  transition: 0.5s;
}
.slider-big .swiper-buttons {
  opacity: 0;
  transition: 0.5s;
  padding: 0 16px;
  height: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  z-index: 1100;
}

.slider-big-top .swiper-button-next,
.slider-big-top .swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 0;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  //box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  background: rgba(255, 255, 255, 0.2);
  outline: none !important;
}
.slider-big-top .swiper-button-next .swiper-button-icon, .slider-big-top .swiper-button-prev .swiper-button-icon {
  fill: #FFC634;
  height: 20px;
  width: 12px;
  margin-left: 4px;
}
.slider-big-top .swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}


//pagination
.swiper-pagination--top {
  position: absolute;
  /* z-index: 999; */
  bottom: 0;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
}
.swiper-pagination--top .swiper-pagination-bullet {
  z-index: 999;
  margin: 0 10px;
  width: 16px;
  background: #FFFFFF;
  height: 16px;
  opacity: .0;
  transition: .5s;
  border-radius: 100%;

}
.swiper-pagination--top .swiper-pagination-bullet-active {
  background: #FFC634;
  opacity: 0;
}
//
//
.slider-big:hover .swiper-pagination-bullet {
  opacity: .5;
  transition: 0.5s;
}
.slider-big:hover .swiper-pagination-bullet-active {
  opacity: 1;
  transition: 0.5s;
}
.slider-big-top {
  margin-bottom: 64px;
}
