.specials__section--wrap {
  font-size: 35px;
}

.tabs-nav__item {
  margin-bottom: 0;


}



.tabs-nav__item.active .tabs-nav__link {
  color: #FF0000;
}

.tabs-nav__link {
  color: #586166;
  text-transform: uppercase;
  //font-family: "OpenSans-Semibold";
  font-family: $fontPrimary;
  font-weight: 700;
  padding: 0 10px;

  &:hover {
    text-decoration: none;
    color: #FF0000;
  }
}
.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
  z-index: 100;
}
.content-title {
  color: #252525;
  text-transform: uppercase;
  font-size: 34px;
  font-family: $fontPrimary;
  font-weight: 900;
  margin-bottom: 0;

}
.tabs-nav__list {
  margin-bottom: 0;
}
.title-link {
  &:hover {
    text-decoration: none;
  }
}

.arrow-icon {
  display: inline-flex;
  align-items: center;
}
.arrow-icon:after {
  content: '';
  background-image: url("../../../img/arrow-yellow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9px;
  min-width: 9px;
  height: 16px;
  margin-left: 12px;
}
.tabs-nav__drag {
  margin: 30px 0 0;
  border-bottom: 4px solid #FF0000;
}
.swiper-button-next--specials, .swiper-button-prev--specials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 0;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  outline: none !important;

}

.product-item__wrap {
  width: 173px;
  padding: 0;
}
.product-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  //width: 173px;
  width: 100%;
  padding-top: 32px;

  .img-wrap {
    width: 100%;
    height: 122px;
  }
}
.reviews-rating--wrap {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  //width: 33px;
  //height: 22px;

  &:hover {
    text-decoration: none;
  }
}
.reviews-rating--text {
  display: none;
  font-size: 14px;
  color: #586166;
  margin-left: 8px;
}

.swiper-button-next--specials, .swiper-button-prev--specials {
  position: absolute;
  background: red;
  z-index: 999;
  top: 45%;
}
.swiper-button-next--specials {
  right: 0;
}
.product__item--wrap {
  background: yellow;
}
.product__item--name {
  color: #586166;
  font-size: 12px;
  line-height: 16px;
}
.product__item--inner {
  box-sizing: border-box;
  padding: 24px 16px;
}


.product-item__wrap {
  //padding: 0 12px;
  padding: 0 0;
  margin-right: 24px;
  @include last-mr-0;
  position: relative;

  &:hover {
    border-radius: 5px;

    .product-item {
      box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.08);

      overflow: hidden;
      height: 500px;
      position: absolute;
      z-index: 1000;
      width: 271px;
      left: 50%;
      margin-left: -135px;
      top: -25px;

      .img-wrap {
        height: 140px;
      }
    }

    .reviews-rating--wrap {
      top: 8px;
      left: 0;
    }

    .product-item__icons {
      top: 8px;
    }

    .reviews-rating--text {
      display: block;
    }

    .product-item__desc {
      background: #586166;
      height: 330px;
    }

    .product-item--title {
      color: #E5E5E5;
    }

    .product-item--model {
      color: #FFFFFF;
      font-family: $fontPrimary;
      font-weight: 700;
    }

    .charact-block {
      display: block;
    }

    .new-price {
      color: #ffffff;
    }

    .view-link {
      display: flex;
    }

    .product-item__desc__bottom {
      margin-top: 0;
      height: 90%;
    }
  }
}

.product-item__desc__bottom {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;

  .price-block {
    margin-top: 0;
  }

}
.old-price-big,
.new-price-big {
  font-size: 34px;
  font-family: $fontPrimary;
  font-weight: 900;

}

.old-price-big {
  color: #4D4D4D;
}
.old-price--wrap {
  text-decoration: line-through;
  color: #E81A2B;

}
.old-price {
  font-size: 16px;
  color: #B3B3B3;
}
.new-price {
  color: #E81A2B;
  font-family: $fontPrimary;
  font-weight: 900;
  font-size: 24px;
}

.charact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.charact-value,
.charact-key {
  font-size: 12px;
  color: #FFFFFF;
}

.charact-block {
  display: none;
  height: 170px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-item--model {
  text-transform: uppercase;
  color: #252525;
  font-family: $fontPrimary;
  font-weight: 700;
  line-height: 16px;
}
.product-item--title {
  font-size: 12px;
  color: #586166;
  margin-bottom: 5px;
}

.slider-product {
  opacity: 0;
  height: 541px;
  overflow: hidden;
}

.slider-product {
  //margin-bottom: -160px;
  .slick-list {
    padding-bottom: 160px;
    padding-top: 50px;

  }
}
.slider-product.slick-initialized {
  opacity: 1;
}
.slider-product.slick-initialized {
  opacity: 1;
}
.complex__wrap {
  .slider-product {
    .slick-list {
      margin-left: -12px;
      margin-right: -12px;
    }
  }

}



.view-link {
  display: none;
  align-items: center;
  color: #4D4D4D;
  font-size: 12px;
  text-transform: uppercase;
  background: #ffffff;
  margin-bottom: 3px;
  padding: 6px 9px;
  border-radius: 5px;
  margin-left: auto;
  font-family: $fontPrimary;
  font-weight: 700;

  &:before {
    content: '';
    @include background-contain('view-icons.svg');
    @include width-flex(22px);
    height: 16px;
    margin-right: 8px;
  }
  &:hover {
    text-decoration: none;
  }
}
.charact-value {
  @include width-flex(60%);

}
.charact-key {
  @include width-flex(40%);
}
.slider-slick__wrap {

  position: relative;
  z-index: 100;

  &:hover {
    .container-arrows {
      display: flex;
    }

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      width: 100px;
      height: 100%;
      z-index: 1000;
    }
  }


}

.container-arrows {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 1100;
  padding: 0 5px;
  height: 0;

}

.prev-button,
.next-button {
  display: block;
  width: 48px;
  height: 48px;
  @include background-contain('arrow-slider-right.svg');
}

.prev-button {
  transform: rotate(180deg);
}

.slick-item-left {
  .product-item__wrap {
    &:hover {
      .product-item {
        left: 10px;
        margin-left: 0px;
      }
    }
  }
}

.slick-item-right {
  .product-item__wrap {
    &:hover {
      .product-item {
        left: auto;
        right: 10px;
        margin-left: 0px;
      }
    }
  }
}
.product-item--small {
  padding: 16px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .img-wrap {
    @include width-flex(30%);
  }
}

.product-item--small--name {
  font-size: 20px;
  font-family: $fontPrimary;
  font-weight: 700;
  text-transform: uppercase;
  color: #4D4D4D;
}

.product-item--small--desc {
  @include width-flex(70%);
  padding-left: 16px;

}

.product-item--small--price {
  font-size: 20px;
  font-family: $fontPrimary;
  font-weight: 700;
  text-transform: uppercase;
  color: #252525;
}
.reviews-rating {
  position: absolute;
  left: 12px;
  top: 12px;
}

.img-wrap--icons {
  .reviews-rating {
    display: none;
    position: static;
    margin-bottom: 8px;
  }
}
.reviews-rating {
  position: relative;
  @include width-flex(33px);
  height: 22px;
}
.reviews-rating_green {
  .reviews-rating--bg {
    path {
      stroke: #8CB400;
    }
  }

  .reviews-rating-num {
    color: #8CB400;
  }
}
.reviews-rating-num {
  position: absolute;
  left: 5px;
  top: 0px;
}
.product-item__icons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 0px;
}
.product-item__block-icon {
  margin-left: 8px;
  @include width-flex(24px);
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.compare-icon {
  background-image:url('../../../img/compare-icon.svg');
}
.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-100 {
  max-width: 100%;
  max-height: 100%;
}
.product-item__desc {
  padding: 24px 16px;
}
//.favorite-icon {
//  background-image:url('../img/heart-icon.svg');
//}
.favorite-icon {
  .icon-heart {
    width: 18px;
    height: 18px;
  }
}
