.footer__nav--wrap {
  //background: $colorLightGray;
  background: #586166;
  padding: 31px 0;
}
.footer-link {
  color: $colorWhite;
  font-size: 12px;
  line-height: 16px;
  &:hover {
    color: $colorWhite;
    text-decoration: none;
  }
}


.footer__nav--block--title {
  margin-bottom: 12px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: $colorWhite;
  margin-bottom: 20px;

  &:hover {
    color: $colorWhite;
    text-decoration: none;
  }
}
.footer__nav--block {
  margin-bottom: 24px;
}

.footer__wrap {
  background: $colorLightGray;
  padding: 32px 0 36px;
}

.social-footer-link_vk {
  background-image: url('../../../img/social-icon-footer-facebook-vk.svg');
}

.social-footer-link_fb {
  background-image: url('../../../img/social-icon-footer-facebook.svg');
}

.social-footer-link_in {
  background-image: url('../../../img/social-icon-footer-facebook-instagram.svg');
}

.social-footer-link_you {
  background-image: url('../../../img/social-icon-footer-facebook-youtube.svg');
}

.social-footer-link_google {
  background-image: url('../../../img/social-icon-footer-facebook-google-plus.svg');
}

.social-footer-link_tw {
  background-image: url('../../../img/social-icon-footer-facebook-twitter.svg');
}

.social-footer-link_whaths {
  background-image: url('../../../img/social-icon-footer-facebook-whatsapp.svg');
}

.social-footer-link_teleg {
  background-image: url('../../../img/social-icon-footer-facebook-telegram.svg');
}
.social {
  display: flex;
  align-items: center;
}
.social-footer-item {
  margin-right: 8px;
}
.social-footer-link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.pay-cards {
  display: flex;
  align-items: center;
}

.pay-card {
  width: 34px;
  min-width: 34px;
  height: 24px;
  margin-right: 8px;
}
.footer__wrap .header__logo{
  margin-bottom: 24px;
}
.footer__block--small-title {
  font-size: 14px;
  margin-bottom: 8px;
  color: #4D4D4D;
}
.footer__block {
  margin-bottom: 12px;
}
.footer__block--big-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $fontPrimary;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__block .footer__block--big-title {
  margin-bottom: 0px;
}
.footer-tel {
  font-size: 14px;
  color: #000000;

  &:hover {
    color: #0056b3;
    text-decoration: none;
  }
}
.footer-menu--link {
  display: inline-block;
  color: #000000;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    color: #636363;
    text-decoration: none;
  }
}
