block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title !{title}
    meta(name="theme-color" content="#ffffff")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='description' content='Описание сайта')
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
    link(rel="stylesheet" href="styles/main.css")
  body
    include ../helpers/mixins
    //include teratek_site/src/views/helpers/mixins.pug
    include ../../blocks/modules/topPage/topPage
    include ../../blocks/modules/header/header
    .container
      .row
        .col-lg-10
          .page
            block content
        .col-lg-2

          include ../../blocks/modules/sidemenu/sidemenu

    include ../../blocks/modules/footer/footer
    block scripts
      script(src="js/vendor.js")
      script(src="js/main.js")
