$fontPrimary: "OpenSans";
$OpenSansExtrBold: "OpenSansExtraBold";
//$fontSecondary: "PlayfairDisplay";

@font-face {
  font-family: #{$fontPrimary};
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}.eot');
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}.woff2') format('woff2'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}.woff') format('woff'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}.ttf') format('truetype');
}

@font-face {
  font-family: #{$fontPrimary};
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.eot');
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.woff2') format('woff2'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.woff') format('woff'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.ttf') format('truetype');
}

@font-face {
  font-family: #{$fontPrimary};
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Extrabold.eot');
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Extrabold.woff2') format('woff2'),
  url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Extrabold.woff') format('woff'),
  url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Extrabold.ttf') format('truetype');
}
//
//@font-face {
//  font-family: #{$fontSecondary};
//  font-weight: 400;
//  font-style: normal;
//  src: url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.eot');
//  src: url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.eot?#iefix')
//      format('embedded-opentype'),
//    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.woff2') format('woff2'),
//    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.woff') format('woff'),
//    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.ttf') format('truetype');
//}

//@font-face {
//  font-family: 'OpenSans-Bold';
//  src: url('../fonts/OpenSans-Bold.eot');
//  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
//  url('../fonts/OpenSans-Bold.woff') format('woff'),
//  url('../fonts/OpenSans-Bold.ttf') format('truetype'),
//  url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'OpenSans-Light';
//  src: url('../fonts/OpenSans-Light.eot');
//  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
//  url('OpenSans-Light.woff2') format('woff2'),
//  url('OpenSans-Light.woff') format('woff'),
//  url('OpenSans-Light.ttf') format('truetype'),
//  url('OpenSans-Light.svg#OpenSans-Light') format('svg');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'OpenSans-Regular';
//  src: url('../fonts/OpenSans.eot');
//  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/OpenSans.woff2') format('woff2'),
//  url('../fonts/OpenSans.woff') format('woff'),
//  url('../fonts/OpenSans.ttf') format('truetype'),
//  url('../fonts/OpenSans.svg#OpenSans') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'OpenSans-Extrabold';
//  src: url('../fonts/OpenSans-Extrabold.eot');
//  src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
//  url('../fonts/OpenSans-Extrabold.woff') format('woff'),
//  url('../fonts/OpenSans-Extrabold.ttf') format('truetype'),
//  url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
//  font-weight: 800;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'OpenSans-Semibold';
//  src: url('../fonts/OpenSans-Semibold.eot');
//  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
//  url('../fonts/OpenSans-Semibold.woff') format('woff'),
//  url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
//  url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'SFUIDisplay-Bold';
//  src: url('../fonts/SFUIDisplay-Bold.eot');
//  src: local('../fonts/SF UI Display Bold'), local('SFUIDisplay-Bold'),
//  url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
//  url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
//  url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'SFUIDisplay-Regular';
//  src: url('../fonts/SFUIDisplay-Regular.eot');
//  src: local('../fonts/SF UI Display Regular'), local('SFUIDisplay-Regular'),
//  url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
//  url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
//  url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
